@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add a Treat</h2>
<br>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId", "-select-")

  <button type="submit" value="Create" class="btn btn-outline-info">Add To Treats!</button>
}
<br>
<p>
  @Html.ActionLink("Show all Treats", "Index")
</p>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>