@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Edit @Html.DisplayFor(model => model.Description)</h2>

@using (Html.BeginForm())
{
  <div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.TreatId)

    <div class="form-group">
      @Html.LabelFor(model => model.Description)
      <div class="col-md-10">
        @Html.EditorFor(model => model.Description)
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" value="Save" class="btn btn-outline-secondary">Save Changes</button>
      </div>
    </div>
  </div>
}
<p>
  @Html.ActionLink("Back to Treat list", "Index") | 
  @Html.ActionLink("Add a new Flavor", "Create", "Flavors")
</p>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>