@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Add the flavor @Html.DisplayFor(model => model.Name) to a Treat!</h4>
<br>
@if (ViewBag.TreatsList.Count == 0) 
{
  <h3><i class="bi bi-exclamation-triangle"></i>No Treats are on your list!<i class="bi bi-exclamation-triangle"></i></h3>
}
else 
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

  <button type="submit" value="Save" class="btn btn-outline-secondary">Add Treat</button>
  }
}
<br>
<p>
  @Html.ActionLink("Add a new Treat", "Create", "Treats") | 
  @Html.ActionLink("View All Treats", "Index", "Treats") | 
  @Html.ActionLink("View All Flavors", "Index", "Flavors")
</p>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>