@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Add a Treat</h2>

<h4>Add a Treat to this flavor @Html.DisplayFor(model => model.Name)</h4>
@if (ViewBag.TreatsList.Count == 0) 
{
  <p>No Treats are on your list!</p>
}
else 
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

  <button type="submit" value="Save" class="btn btn-outline-secondary">Add Treat</button>
  }
}

<h5>@Html.ActionLink("Add a new Treat", "Create", "Treats") | 
  @Html.ActionLink("View All Treats", "Index", "Treats") | 
  @Html.ActionLink("View All Flavors", "Index", "Flavors") | 
  @Html.ActionLink("Main Menu", "Index", "Home")</h5>
